/.build/
/.zig-cache/
/dist/
/zig-out/
/.toolchain/
/.perf-test/
/*.deb
/debian/.debhelper/
/debian/curtsy/
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
