#!/usr/bin/make -f

ZIG := .toolchain/zig/zig

%:
	dh $@

override_dh_auto_clean:
	rm -rf .zig-cache zig-out

override_dh_auto_build:
	$(ZIG) build -Doptimize=ReleaseSafe

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(ZIG) build test
endif

override_dh_auto_install:
	install -D -m 0755 zig-out/bin/curtsy debian/curtsy/usr/bin/curtsy
	install -D -m 0644 config.example.yaml debian/curtsy/etc/curtsy/config.yaml
	install -D -m 0644 debian/60-curtsy.conf debian/curtsy/usr/lib/sysctl.d/60-curtsy.conf

override_dh_builddeb:
	mkdir -p $(CURDIR)/dist/debian
	dh_builddeb --destdir=$(CURDIR)/dist/debian
